*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 18px;
}

/* header > img{
    position: absolute;

} */

@font-face {
    font-family: Barlow;
    src: url(https://fonts.google.com/specimen/Barlow);
}

@font-face {
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces);
}

header{
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding: 20px;
    background-position: center;
}

.logo-nav{
    display: flex;
}

.logo-nav > h4{
    color: white;
    font-size: 25px;
}

nav{
    margin-left: auto;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
}

nav > ul li{
    color: white;
    margin-right: 55px;
    list-style-type: none;
}

header> h1{
    color: white;
    font-family: Fraunces;
    letter-spacing: 5px;
    font-size: 40px;
    margin-top: 10%;
    text-align: center;
}

.arrow-down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.arrow-down > img{
    height: 100px;
    width: auto;

}

.section-one{
    display: flex;
    width: 100%;
}

.section-text{
    width: 100%;
    background-color: white;
    color: black;
        padding-inline: 230px;
            padding-block: 150px;
            font-size: 20px;
}

.section-text h3{
    font-family: sans-serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    font-size: 30px;
}

.section-text p{
    color: hsl(232, 10%, 55%);
    margin-top: 35px;
    line-height: 5px;
    line-height: 19px;
}

.section-img{
    width: 50%;
}

.section-img img{
    width: 100%;
}

.learn-more{
    color: black;
    letter-spacing: 2px;
}

.learn-more a{
    color: black;
        font-weight: 900;
}

.section-two{
    display: flex;
    width: 100%;
}

.section-three{
    display: flex;
    width: 100%;
}

.mobile-graphic{
    display: none;
}

.desktop-graphic{
    display: block;
}

.section-three-one{
    width: 50%;
    position: relative;
}

.section-three-two{
    width: 50%;
    position: relative;
}

.section-three-one-img{
    width: 100%;
}
.section-three-one-img  img{
    width: 100%;
}

.section-three-two-img{
    width: 100%;
}

.section-three-two-img  img{
    width: 100%;
}

.mobile-photography{
    display: none;
}

.desktop-photography{
    display: block;
}

.section-three-one-text{
        position: absolute;
            padding-inline: 100px;
            bottom: 105px;
            color: hsl(167, 40%, 24%);
            text-align: center;
        
}

.section-three-one-text > p{
    margin-top: 15px;
}

.section-three-one-text > h4{
    margin-top: 15px;
    font-size: 25px;
    color: hsl(167, 40%, 24%);
}

.section-three-two-text > p{
    margin-top: 15px;
}

.section-three-two-text > h4{
    margin-top: 15px;
    color: hsl(198, 62%, 26%);
        font-size: 25px;
}

.section-three-two-text{
        position: absolute;
            padding-inline: 100px;
            bottom: 105px;
            text-align: center;
            color: hsl(198, 62%, 26%);
        
}

.testimonials-con > h4{
    text-align: center;
    padding-top: 65px;
}

.testimonials{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-inline: 40px;
    text-align: center;
        padding-inline: 70px;
        padding-bottom: 100px;
}

.testimonial-text{
    margin-top: 30px;
        padding-inline: 35px;
}

.testimonial-img-one{
    background-image: url(./images/image-emily.jpg);
    height: 70px;
    border-radius: 50%;
    width: 70px;
    background-repeat: no-repeat;
    background-size: contain;
}

.testimonial-img-two{
    background-image: url(./images/image-thomas.jpg);
    height: 70px;
        border-radius: 50%;
        width: 70px;
        background-repeat: no-repeat;
            background-size: contain;
}

.testimonial-img-three{
    background-image: url(./images/image-jennie.jpg);
    height: 70px;
        border-radius: 50%;
        width: 70px;
        background-repeat: no-repeat;
            background-size: contain;
}

.testimonial-img-con{
    display: flex;
    justify-content: center;
}

.testimonial-info{
    margin-top: 25px;
}

.testimonial-text{
     color:hsl(212, 27%, 19%);
}

.testimonial-info p{
    margin-top: 10px;
    color: hsl(210, 4%, 67%);
    font-size: 16px;
}

.testimonial-info h4{
    font-weight: 900;
    font-size: 20px;
    color: hsl(212, 27%, 19%);
}

.testimonials-con > h4{
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 5px;
    color: hsl(210, 4%, 67%);
}

.foot-designs img{
    width: 25%;
}

.desktop-bottles{
    display: block;
}

.mobile-bottles{
    display: none;
}

.desktop-orange {
    display: block;
}

.mobile-orange {
    display: none;
}

.desktop-cone{
    display: block;
}

.mobile-cone{
    display: none;
}

.desktop-sugar-cubes {
    display: block;
}

.mobile-sugar-cubes {
    display: none;
}


.foot-designs{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #89c589;
    height: 300px;
    color: hsl(168, 34%, 41%);
}

footer > h3{
    text-align: center;
    font-size: 25px;
        color: hsl(167, 40%, 24%);
        padding-top: 40px;
}

.foot-nav{
    display: flex;
    justify-content: center;
}

.foot-nav li{
    list-style-type: none;
    color: hsl(167, 40%, 24%);
    margin-left: 0px;
    margin-top: 20px;
}

.socials{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.socials i{
    margin-left: 30px;
}

@media only screen and (max-width: 375px) {

    .logo-nav{
        display: flex;

    }   

    nav{
        margin-left: auto;
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
                height: 35vh;
    }

    nav ul{
        display: block;
        margin-inline: auto;
        width: 80%;
        background-color: white;
        text-align: center;
    }

    nav ul li{
        color: black;
    }

     .section-one {
         display: flex;
         flex-direction: column-reverse;
         width: 100%;
       }

     .section-text {
               width: 100%;
               background-color: white;
               color: black;
               padding-inline: 20px;
               padding-block: 50px;
               font-size: 20px;
               text-align: center;
   }

    .section-img {
      width: 100%;
     }
    

    .section-two {
      display: flex;
      flex-direction: column;
      width: 100%;
 }
                
.section-three {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-three-one {
    width: 100%;
    position: relative;
}

.section-three-two {
    width: 100%;
    position: relative;
}

.section-three-one-text {
    position: absolute;
    padding-inline: 10px;
    bottom: 45px;
    font-size: 15px;
    color: hsl(167, 40%, 24%);
    text-align: center;
}

.mobile-photography{
    display: block;
}

.desktop-photography{
    display: none;
}

.mobile-graphic {
    display: block;
}

.desktop-graphic {
    display: none;
}

.section-three-two-text {
    position: absolute;
        padding-inline: 10px;
        bottom: 45px;
        font-size: 15px;
        color: hsl(167, 40%, 24%);
        text-align: center;
}

.testimonials{
    flex-direction: column;
}

.testimonial{
    margin-top: 55px;
}

.testimonial-text {
    margin-top: 30px;
    padding-inline: 0px;
}

.desktop-bottles {
    display: none;
}

.mobile-bottles {
    display: block;

}

.desktop-orange{
    display: none;

}

.mobile-orange{
    display: block;
}

.desktop-cone {
    display: none;
}

.mobile-cone {
    display: block;
}

.desktop-sugar-cubes{
    display: none;
}

.mobile-sugar-cubes{
    display: block;
}

.foot-designs {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

.foot-designs img {
    width: 100%;
}

.foot-nav {
    display: flex;
    text-align: center;
    justify-content:space-evenly
}
}